@charset "UTF-8";
@import url("https://use.fontawesome.com/releases/v5.15.2/css/all.css");
@import url("https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100;300;400;500;700;900&family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans+SC:wght@100;300;400;500;700;900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://use.typekit.net/pak3nbn.css");
@import url("https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css");
/* Reset CSS  */
* {
  font-family: "Noto Sans KR", "Noto Sans", "Noto Sans SC", "Noto Sans JP", "Noto Sans TC", "Pretendard", "Noto Sans", "rotunda-variable", "Poppins", serif, -apple-system, BlinkMacSystemFont, "Lato", "Malgun Gothic", "맑은 고딕", "Dotum", helvetica, "Apple SD Gothic Neo", sans-serif;
}

html {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 14px;
}

body {
  font-size: 13px;
  color: #171717;
  position: relative;
  height: 100%;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
blockquote,
th,
td,
p,
header,
section,
footer,
nav,
small,
span,
a,
img,
fieldset,
legend {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: "Pretendard", sans-serif;
  border: 0;
  text-decoration: none;
}

fieldset {
  border: 0px;
}

a {
  font-style: normal;
  text-decoration: none;
  color: inherit;
}

hr,
legend {
  height: 0;
  left: -5000px;
  line-height: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  visibility: hidden;
  width: 0;
}

caption {
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
}

* {
  -webkit-text-size-adjust: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

img,
video {
  max-width: 100%;
  border: 0;
  height: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0px solid #E5E5E5;
}

input,
select {
  vertical-align: middle;
}

label {
  cursor: pointer;
}

legend,
hr,
caption {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -1000em;
}

i,
em,
address {
  font-style: normal;
  font-weight: normal;
}

td,
th {
  vertical-align: middle;
  line-height: 1.6;
}

td strong {
  font-weight: 100;
  font-size: 5px;
  vertical-align: bottom;
}

a:hover {
  text-decoration: none;
}

/* ul:after{content:""; display:block; clear:both;} */
small {
  font-size: inherit;
}

img {
  vertical-align: top;
}

address {
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1680px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  padding: 0 4%;
}

/* .container:after {content: ""; display: none; clear: both;} */
.main-container {
  max-width: 1740px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  height: 100%;
}

.sub-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  padding: 0 2%;
}

/* .search-container {max-width: 1280px; width:100%; margin: 0 auto; position: relative; box-sizing: border-box;} */
/* .main-container:after {content: ""; display: block; clear: both;} */
.wide {
  position: relative;
}

.wide::before,
.wide::after {
  content: "";
  width: 200%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -50%;
  z-index: -1;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  top: 0;
  left: 0;
}

::-moz-selection {
  background-color: #72c8f1;
  color: white;
}

::selection {
  background-color: #72c8f1;
  color: white;
}

/*formmail*/
#select-form {
  border: 1px solid #ddd;
  width: 100%;
  padding: 15px 10px;
  font-size: 15px;
}

.fields {
  position: relative;
  margin-top: 30px;
  border-top: 1px solid #ddd;
}

.fields li {
  display: flex;
  border-bottom: 1px solid #ddd;
  align-items: center;
  padding: 15px;
}

.fields .lbl {
  width: 200px;
  font-size: 15px;
  cursor: text;
}

.fields .desc {
  width: 100%;
}

.fields .input {
  border: 1px solid #ddd;
  padding: 15px 10px;
  box-sizing: border-box;
  width: 100%;
}

.fields .input.full {
  width: 100%;
}

.fields .btn-group {
  margin-top: 34px;
  text-align: center;
}

.fields .btn-group span {
  font-size: 16px;
  color: #999;
}

.fields .btn-group a {
  font-size: 16px;
  color: #000;
  font-weight: bold;
}

.fields .btn-group a:hover {
  text-decoration: underline;
}

input[id=agree-check] + label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #bbb;
  cursor: pointer;
  margin: 0 4px 4px 0;
}

input[id=agree-check]:checked + label {
  border-color: #0b4ea2;
  background: url("../img/agree_check.png") no-repeat center center;
}

input[id=agree-check] {
  display: none;
}

.fields .btn-submit {
  background: #0b4ea2;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 47px;
  border: none;
  outline: none;
  margin-top: 35px;
}

/************* css ******************/
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: #f5f5f5;
}

.mobr {
  display: none;
}

/* 헤더 header */
#header {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  position: absolute;
  z-index: 1;
  width: 100%;
  overflow: hidden;
}

#header:after {
  transition: border 0.3s;
  top: 89px;
  border-bottom: 1px solid transparent;
  z-index: 1;
  position: absolute;
  width: 100%;
  content: "";
  display: inline-block;
}

#header:hover:after {
  border-bottom: 1px solid #171717;
}

#header .header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 0 0 30px;
  height: 90px;
  width: calc(100% - 90px);
  color: #171717;
  transition: all 0.3s;
  gap: 48px;
  position: relative;
}

#header:hover .header_wrap {
  color: #171717;
  height: 430px;
}

#header .header_wrap::after {
  content: "";
  display: inline-block;
  background-color: transparent;
  height: 90px;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  width: calc(100% + 90px);
}

#header:hover .header_wrap::after {
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  height: 430px;
  box-shadow: 5px 8px 9px rgba(106, 108, 109, 0.35);
}

#header .header_wrap .head_logo {
  padding: 20px 0;
  height: 90px;
  flex-basis: 10%;
  min-width: 149px;
}

#header .header_wrap .head_logo h1 {
  transition: display 0.3s;
}

#header .header_wrap .head_logo .logo_w {
  display: none;
}

.fp-viewing-section-page1 #header .header_wrap .head_logo .logo_w {
  display: inline-block;
}

.fp-viewing-section-page1 #header .header_wrap .head_logo .logo_b {
  display: none;
}

.fp-viewing-section-page5 #header .header_wrap .head_logo .logo_w {
  display: inline-block;
}

.fp-viewing-section-page5 #header .header_wrap .head_logo .logo_b {
  display: none;
}

#header:hover .header_wrap .head_logo .logo_w {
  display: none;
}

#header:hover .header_wrap .head_logo .logo_b {
  display: inline-block;
}

#header .header_wrap .head_menu {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  transition: justify-content 0.3s;
}

#header:hover .header_wrap .head_menu {
  justify-content: center;
}

#header .header_wrap .head_gnb {
  display: flex;
  align-items: flex-start;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  gap: 50px;
}

#header:hover .header_wrap .head_gnb {
  gap: 0;
}

#header .header_wrap .head_gnb > li {
  display: inline-block;
  text-align: center;
  transition: width 0.3s;
  max-width: 260px;
}

#header:hover .header_wrap .head_gnb > .topmenu {
  width: 260px;
}

#header .header_wrap .head_menu .head_gnb > li > a {
  display: inline-block;
  padding: 33px 0;
  position: relative;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
}

#header:hover .header_wrap .head_menu .head_gnb > li > a {
  width: 100%;
  color: #171717;
}

#header .header_wrap .head_menu .head_gnb > li > a::after {
  content: "";
  position: absolute;
  height: 4px;
  bottom: 0;
  background-color: #1a4691;
  left: 0;
  right: 0;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

#header .header_wrap .head_menu .head_gnb > li:hover > a::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* .header .header_wrap .head_menu .head_gnb > li > a::after {transition: all .3s; position: absolute; top: 87.5px; right: 0; left: 0; z-index: 2; content: ""; display: inline-block; width: 0%; border-bottom: 3px solid transparent; }
.header .header_wrap .head_menu .head_gnb > li:hover > a::after {border-bottom: 3px solid #1a4691; width: 100%;} */
#header .header_wrap .head_gnb .topmenu .lnb {
  font-size: 17px;
  color: #5a5a5a;
  padding: 20px 0;
  display: none;
  height: 0;
  transition: all 0.3s;
  position: relative;
}

#header:hover .header_wrap .head_gnb .topmenu .lnb {
  width: 100%;
  height: 340px;
  display: inline-block;
}

#header .header_wrap .head_gnb li .lnb::before {
  content: "";
  height: 0;
  width: 100%;
  position: absolute;
  border-left: 1px solid transparent;
  right: 0;
  left: 0;
  top: 0;
  transition: all 10s;
}

#header .header_wrap .head_gnb li:last-child .lnb::before {
  border-right: 1px solid transparent;
}

#header:hover .header_wrap .head_gnb li .lnb::before {
  height: 100%;
  border-left: 1px solid #171717;
}

#header:hover .header_wrap .head_gnb li:last-child .lnb::before {
  border-right: 1px solid #171717;
}

#header .header_wrap .head_gnb .topmenu .lnb > li {
  text-align: center;
  padding: 12px 0;
}

#header .header_wrap .head_gnb .topmenu .lnb > li:hover {
  color: #1a4691;
}

#header .header_wrap .head_gnb .topmenu .lnb > li a {
  display: inline-block;
  position: relative;
  padding: 0 10px;
  text-decoration: none;
  color: #171717;
}

/* .header .header_wrap .head_gnb .topmenu .lnb > li a:after {content: ""; display: inline-block; position: absolute; width: 0; border-bottom: 1px  solid #1a4691; bottom:-5px; left: 0; right: 0; transition: width .3s}
.header .header_wrap .head_gnb .topmenu .lnb > li:hover a:after {width: 100%;} */
#header .header_wrap .head_gnb .topmenu .lnb > li a:after {
  content: "";
  position: absolute;
  height: 1px;
  bottom: -5px;
  background-color: #1a4691;
  left: 0;
  right: 0;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

#header .header_wrap .head_gnb .topmenu .lnb > li:hover a:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#header .global_nav {
  width: 90px;
  flex-basis: 90px;
}

#header .header_wrap .head_nav {
  display: flex;
  align-items: flex-start;
  height: 100%;
}

#header .header_wrap .head_nav .global {
  margin-right: 45px;
}

#header:hover .header_wrap .head_nav .global li,
#header:hover .header_wrap .head_nav .global i {
  color: #171717;
}

#header .header_wrap .head_nav .global .country {
  font-size: 17px;
  color: #5a5a5a;
  padding: 20px 0;
  display: none;
}

#header .header_wrap .head_nav .global > a {
  display: inline-block;
  padding: 26px 0;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

#header .header_wrap .head_nav .global i {
  font-size: 35px;
  font-weight: 500;
  transition: transform 0.3s;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

#header.header_wrap .head_nav .global a:hover i {
  transform: rotateZ(180deg);
  display: inline-block;
}

#header:hover .header_wrap .head_nav .global .country {
  display: inline-block;
}

#header .header_wrap .head_nav .global .country li {
  padding: 12px 0;
  text-align: center;
}

#header .header_wrap .head_nav .global .country li:hover {
  color: #1a4691;
}

#header .header_wrap .head_nav .global .country li a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #171717;
}

/* .header .header_wrap .head_nav .global .country li a:after {content: ""; display: inline-block; position: absolute; width: 0; border-bottom: 1px  solid #1a4691; bottom:-5px; left: 0; right: 0; transition: width .3s}
.header .header_wrap .head_nav .global .country li:hover  a:after {width: 100%;} */
#header .header_wrap .head_nav .global .country li a:after {
  content: "";
  position: absolute;
  height: 1px;
  bottom: -5px;
  background-color: #1a4691;
  left: 0;
  right: 0;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

#header .header_wrap .head_nav .global .country li:hover a:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* 사이트맵메뉴 */
#sitemap {
  position: fixed;
  z-index: 800;
  width: 100%;
  height: 100%;
  display: none;
  overflow: hidden;
}

#sitemap .sitemap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

#sitemap .sitemap .sitemap_left {
  height: 100%;
  background-color: #fff;
  width: 605px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#sitemap .sitemap .sitemap_left h1 {
  height: 90px;
  display: flex;
  align-items: center;
}

#sitemap .sitemap .sitemap_left .site_left_txt h2 {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.2;
}

#sitemap .sitemap .sitemap_left .site_left_txt p {
  color: #5a5a5a;
  font-size: 28px;
  font-weight: 300;
  padding-top: 20px;
  letter-spacing: 1px;
}

#sitemap .sitemap .sitemap_left .site_left_add {
  color: #969696;
  padding-bottom: 50px;
}

#sitemap .sitemap .sitemap_left .site_left_add p {
  font-size: 18px;
}

#sitemap .sitemap .sitemap_left .site_left_add small {
  font-size: 15px;
}

#sitemap .sitemap .sitemap-middle {
  width: calc(100% - 695px);
  background-color: #f0f3f6;
  position: relative;
}

#sitemap .sitemap .sitemap-middle::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url(../img/site_back_logo.png);
  width: 910px;
  height: 277px;
  background-repeat: no-repeat;
  background-position: bottom right;
}

#sitemap .sitemap .sitemap-middle .global_nav {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#sitemap .sitemap .sitemap-middle .global_nav .head_gnb .global {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
  gap: 15px;
}
#sitemap .sitemap .sitemap-middle .global_nav .head_gnb .global a {
  text-decoration: none;
  color: #999;
}

#sitemap .sitemap .sitemap-middle .global_nav .head_gnb .global > a > i {
  font-size: 45px;
  color: #999;
}

#sitemap .sitemap .sitemap-middle .global_nav .head_gnb .global .country {
  display: flex;
  gap: 15px;
  color: #999;
  text-decoration: none;
}

#sitemap .sitemap .sitemap-middle .global_nav .head_gnb .global .country li a {
  transition: color 0.3s;
  position: relative;
  text-decoration: none;
}

#sitemap .sitemap .sitemap-middle .global_nav .head_gnb .global .country li a.active,
#sitemap .sitemap .sitemap-middle .global_nav .head_gnb .global .country li a:hover {
  color: #171717;
  text-decoration: none;
}

#sitemap .sitemap .sitemap-middle .global_nav .head_gnb .global .country li a::before {
  content: "";
  position: absolute;
  height: 3px;
  bottom: -2px;
  background-color: #171717;
  left: 0;
  right: 0;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
  text-decoration: none;
}

#sitemap .sitemap .sitemap-middle .global_nav .head_gnb .global .country li a.active::before,
#sitemap .sitemap .sitemap-middle .global_nav .head_gnb .global .country li a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
  text-decoration: none;
}

#sitemap .sitemap .sitemap-middle #map-nav {
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#sitemap .sitemap .sitemap-middle #map-nav #map-gnb {
  display: flex;
  flex-direction: column;
  position: relative;
}

#sitemap .sitemap .sitemap-middle #map-nav #map-gnb .map_menu {
  padding-left: 50px;
}
#sitemap .sitemap .sitemap-middle #map-nav #map-gnb .map_menu a {
  text-decoration: none;
}

#sitemap .sitemap .sitemap-middle #map-nav #map-gnb .map_menu .map_wrap {
  display: inline-block;
}

#sitemap .sitemap .sitemap-middle #map-nav #map-gnb .map_menu .map_wrap > a {
  font-size: 48px;
  font-weight: 700;
  position: relative;
  display: inline-block;
  color: #aeb1b4;
  padding: 25px 0;
  text-decoration: none;
}

#sitemap .sitemap .sitemap-middle #map-nav #map-gnb .map_menu:first-child a {
  padding-top: 0;
  text-decoration: none;
}

#sitemap .sitemap .sitemap-middle #map-nav #map-gnb .map_menu.active .map_wrap > a {
  color: #171717;
}

#sitemap .sitemap .sitemap-middle #map-nav #map-gnb .map_menu .map_wrap > a::before {
  content: "";
  position: absolute;
  height: 4px;
  bottom: 20px;
  background-color: #171717;
  left: 0;
  right: 0;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

#sitemap .sitemap .sitemap-middle #map-nav #map-gnb .map_menu.active .map_wrap > a::before,
#sitemap .sitemap .sitemap-middle #map-nav #map-gnb .map_menu:hover .map_wrap > a::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#sitemap .sitemap .sitemap-middle #map-nav #map-gnb .map_menu .lnb_two {
  font-size: 25px;
  position: absolute;
  left: 700px;
  top: 0;
  height: 100%;
}

#sitemap .sitemap .sitemap-middle #map-nav #map-gnb .map_menu .lnb_two li {
  display: none;
}

#sitemap .sitemap .sitemap-middle #map-nav #map-gnb .map_menu .lnb_two li a {
  color: #5a5a5a;
  padding: 20px 20px;
  display: inline-block;
  transition: all 0.3s;
}

#sitemap .sitemap .sitemap-middle #map-nav #map-gnb .map_menu .lnb_two li:first-child a {
  padding-top: 0;
}

#sitemap .sitemap .sitemap-middle #map-nav #map-gnb .map_menu .lnb_two li:last-child a {
  padding-bottom: 0;
}

#sitemap .sitemap .sitemap-middle #map-nav #map-gnb .map_menu .lnb_two li:hover a {
  color: #171717;
  font-weight: 700;
}

#sitemap .sitemap .sitemap-middle #map-nav #map-gnb .map_menu.active .lnb_two {
  display: inline-block;
}

#sitemap .sitemap .sitemap-right {
  height: 100%;
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #171717;
}

#sitemap .sitemap .sitemap-right .site_close {
  font-size: 50px;
  width: 90px;
  height: 90px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#sitemap .sitemap .sitemap-right .site_map_txt {
  font-size: 20px;
  color: #fff;
  font-family: "poppins";
  font-weight: 500;
  transform: rotateZ(90deg);
  display: flex;
  justify-content: center;
  height: calc(100% - 90px);
  align-items: center;
}

.fp-viewing-section-page1 header .header_wrap {
  color: #fff;
}

/* 햄버거 */
.m-gnb {
  height: 100%;
  width: 90px;
}

.m-gnb .m-nav {
  width: 100%;
  height: 90px;
  display: table;
  position: relative;
  text-align: center;
}

.m-gnb .m-nav .burger-menu {
  display: table-cell;
  vertical-align: middle;
  background-color: transparent;
  transition: background-color 0.4s;
}

.m-gnb .m-nav .burger-menu .burger {
  width: 30px;
  height: 25px;
  vertical-align: middle;
  right: 0;
  display: inline-block;
  z-index: 600;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
}

.m-gnb .m-nav .burger-menu .burger .burger-line {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s;
}

.m-gnb .m-nav .burger-menu .burger .burger-line:nth-of-type(1) {
  top: 0;
  left: 0;
  transform-origin: left center;
}

.m-gnb .m-nav .burger-menu .burger .burger-line:nth-of-type(2) {
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 70%;
}

.m-gnb .m-nav .burger-menu .burger .burger-line:nth-of-type(3) {
  left: 0;
  bottom: 0;
  margin: auto;
  transform-origin: left center;
}

.m-gnb .m-nav .burger-menu:hover .burger .burger-line:nth-of-type(2) {
  width: 100%;
}

.burger_back {
  background-color: #171717;
  height: 90px;
  width: 90px;
  position: absolute;
  top: 0;
  right: 0;
  transition: all ease 0.7s;
  z-index: -2;
}

.fp-viewing-section-page1 .m-gnb .m-nav .burger-menu .burger .burger-line {
  background-color: #171717;
}

.fp-viewing-section-page1 .burger_back {
  height: 100vh;
  background-color: #fff;
}

header:hover .m-gnb .m-nav .burger-menu .burger .burger-line {
  background-color: #fff;
}

header:hover .m-gnb .m-nav .burger-menu {
  background-color: #171717;
}

/* 캐러셀 */
.page_anchor_wrap {
  width: 90px;
  height: calc(100% - 90px);
  position: absolute;
  transition: all 0.4s;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.main-page-anchor {
  position: fixed;
  right: 0;
  bottom: 0;
  height: calc(100% - 90px);
  width: 90px;
  z-index: 1;
}

.main-page-anchor ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
  padding-bottom: 100px;
}

.main-page-anchor li {
  text-align: right;
  width: 30px;
  padding: 3px 0;
}

.main-page-anchor a {
  width: 20px;
  height: 3px;
  border-radius: 100px;
  background: #171717;
  display: inline-block;
  transition: width 0.3s;
  position: relative;
}

.main-page-anchor li.active > a {
  background: #171717;
  border: none;
  width: 30px;
  height: 3px;
}

.page_anchor_wrap .scroll-down {
  position: absolute;
  bottom: 50px;
  right: 0;
  z-index: 1;
  width: 90px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  animation: 0.5s ease infinite alternate scrollDown;
  display: none;
  transition: all 0.7s;
}

@keyframes scrollDown {
  from {
    bottom: 50px;
  }
  to {
    bottom: 60px;
  }
}
.page_anchor_wrap .scroll-down p {
  writing-mode: vertical-rl;
}

.page_anchor_wrap .scroll-down .scroll-txt {
  font-family: "poppins";
  font-size: 18px;
}

.fp-viewing-section-page1 .page_anchor_wrap .scroll-down {
  display: flex;
}

/*sub*/
/* 서브 공통 헤더 */
.sub-hd .header_wrap {
  color: #fff !important;
}

.sub-hd .header_wrap .head_logo .logo_b {
  display: none !important;
}

.sub-hd .header_wrap .head_logo .logo_w {
  display: inline-block !important;
}

.sub-hd:hover .header_wrap .head_logo .logo_w {
  display: none !important;
}

.sub-hd:hover .header_wrap .head_logo .logo_b {
  display: inline-block !important;
}

#s_top {
  position: relative;
  padding-top: 240px;
}

#s_top.bg01 {
  background: url(../img/s_top_bg01.png) no-repeat center center/cover;
}

#s_top.bg02 {
  background: url(../img/s_top_bg02.png) no-repeat center center/cover;
}

#s_top.bg03 {
  background: url(../img/s_top_bg03.png) no-repeat center center/cover;
}

#s_top.bg04 {
  background: url(../img/s_top_bg04.png) no-repeat center center/cover;
}

#s_top.bg05 {
  background: url(../img/s_top_bg04.png) no-repeat center center/cover;
}

#s_top .s_top_h2_wrap {
  padding-bottom: 140px;
}

#s_top .s_top_h2_wrap::before {
  content: "";
  display: inline-block;
  border-left: 2px solid rgba(255, 255, 255, 0.7);
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

#s_top h2 {
  color: #fff;
  font-weight: 500;
}

@keyframes sub-line {
  from {
    top: 0;
  }
  to {
    top: 320px;
  }
}
#s_top .tit {
  font-family: "poppins";
  font-size: 32px;
  line-height: 1;
}

#s_top .tit-p {
  font-size: 80px;
  font-family: "Noto Sans KR";
  line-height: 1.3;
}

#sub-wrap {
  padding: 50px 0;
}

#sub-section {
  padding: 50px 0;
}

#sub-wrap {
  padding: 120px 0;
  overflow: hidden;
  position: relative;
}

#snb_wrap {
  border-bottom: 1px solid #ddd;
}

#snb_wrap.exception {
  display: none;
}

#snb {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#snb > li {
  font-family: "Noto Sans KR";
  font-weight: 500;
  font-size: 16px;
  color: #5a5a5a;
  padding: 20px 30px 15px;
  cursor: pointer;
  position: relative;
  justify-content: space-between;
  display: flex;
  transition: color 0.3s;
}

#snb > li:hover {
  color: #1a4691;
  font-weight: 700;
}

#snb > li::after {
  border-right: 1px solid #ddd;
  content: "";
  display: inline-block;
  height: 25px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

#snb > li i {
  font-size: 25px;
  font-weight: 500;
}

#snb > li:nth-child(2) {
  width: 240px;
}

#snb > li:nth-child(3) {
  width: 275px;
}

#snb .lnb {
  display: none;
  margin-left: -1px;
  position: absolute;
  width: calc(100% + 2px);
  padding: 15px 0;
  z-index: 99;
  border: 1px solid #e4e4e4;
  background: #fff;
  transition: all 0.3s;
  left: 0;
  top: 100%;
}

#snb .lnb li {
  display: block;
  padding: 8px 30px;
}

#snb .lnb li a {
  display: block;
  font-family: "Noto Sans KR";
  font-weight: 500;
  font-size: 16px;
  color: #999;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
}

#snb .lnb li a:hover {
  color: #1a4691;
}

#snb .lnb li a::after {
  content: "";
  position: absolute;
  height: 1px;
  bottom: -5px;
  background-color: #1a4691;
  left: 0;
  right: 0;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

#snb .lnb li a:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

/* sub 서브페이지 */
#sub {
  padding: 50px 0;
  margin: auto;
  background: #eee;
}

.sub-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
.sub-flex .swiper {
  width: 800px;
  height: 500px;
}
.sub-flex .swiper-slide {
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-flex .swiper-slide img {
  display: block;
  background: #eee;
  width: 90%;
  margin: auto;
}
.sub-flex .swiper-slide img::-moz-selection {
  background: none;
}
.sub-flex .swiper-slide img::selection {
  background: none;
}

#sub .subtitle_wrap {
  letter-spacing: -1px;
  font-weight: 700;
}
#sub .subtitle_wrap h4 {
  font-size: 22px;
  color: #7a7a7a;
  padding-top: 10px;
}

#sub .subtitle_wrap .eng_title {
  font-size: 30px;
  color: #144d98;
}

#sub .subtitle_wrap .sub_title {
  display: flex;
  align-items: center;
  gap: 80px;
}

#sub .subtitle_wrap .sub_title h3 {
  font-size: 60px;
}

#sub .subtitle_wrap .sub_title .sub_description {
  color: #666;
  font-size: 20px;
  font-weight: 200;
  max-width: 600px;
}

#sub_wrap .sub-section {
  padding-bottom: 100px;
  word-break: keep-all;
}

#sub_wrap .sub-section .sub_content_tit {
  position: relative;
  padding: 50px 0;
}

#sub_wrap .sub-section .sub_content_tit span {
  position: relative;
}

#sub_wrap .sub-section .sub_content_tit span::after {
  content: "";
  position: absolute;
  top: -25px;
  left: -25px;
  width: 50px;
  height: 50px;
  background: #1a4691;
  z-index: -1;
}

#sub_wrap .sub-section .sub_content_tit span::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  content: attr(data-split);
  color: #fff;
  overflow: hidden;
  font-size: 45px;
  width: 25px;
  height: 25px;
  z-index: 1;
}

#sub_wrap .sub-section .sub_content_tit h5 {
  font-size: 45px;
  font-weight: 700;
  position: relative;
}

/*footer 푸터*/
#footer {
  height: auto !important;
  background-color: #171717;
}

#footer .fp-tableCell {
  height: auto !important;
}

#footer .footer .footer_wrap {
  display: flex;
  color: #fff;
  justify-content: space-between;
  width: 100%;
  padding: 50px 0;
}

#footer .footer .footer_wrap .footer_left {
  display: flex;
  gap: 7%;
  flex-basis: 70%;
}

#footer .footer .footer_wrap .footer_left .logo_w img {
  filter: opacity(0.8);
}

#footer .footer .footer_wrap .footer_left .footer_info address {
  display: inline-block;
}

#footer .footer .footer_wrap .footer_left .footer_info address ul li {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
  color: #dedede;
}

#footer .footer .footer_wrap .footer_left .footer_info small {
  font-size: 14px;
  font-weight: 300;
  padding-top: 25px;
  display: inline-block;
  color: #c5c5c5;
}

#footer .footer .footer_wrap .footer_link {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}

#footer .footer .footer_wrap .footer_link .footer_link_list {
  display: flex;
  gap: 15px;
}

#footer .footer .footer_wrap .footer_link > a {
  display: inline-block;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 18px;
  font-weight: 500;
}

#footer a {
  text-decoration: none;
  color: #fff;
}

#footer .footer .footer_wrap .footer_link .footer_link_list > li > a {
  display: inline-block;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px 0;
}

#footer .footer .footer_wrap .footer_link .footer_link_list > li > a > i {
  font-size: 35px;
}

#footer .footer .footer_wrap .footer_link .footer_link_list .ft_global {
  text-align: center;
  position: relative;
  cursor: pointer;
}

#footer .footer .footer_wrap .footer_link .footer_link_list .ft_global ul {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 5px rgba(25, 25, 25, 0.5);
}

#footer .footer .footer_wrap .footer_link .footer_link_list .ft_global ul li {
  display: block;
  font-size: 16px;
  background-color: #171717;
  position: relative;
  transition: all 0.3s;
}

#footer .footer .footer_wrap .footer_link .footer_link_list .ft_global ul li a {
  padding: 6px 22px;
  display: block;
}

#footer .footer .footer_wrap .footer_link .footer_link_list .ft_global ul li:hover {
  color: #1387d3;
  background-color: #fff;
}

#footer .footer .footer_wrap .footer_link .footer_link_list .ft_global ul li:not(:last-child)::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  bottom: 0;
  left: 0;
}

#footer .footer .footer_wrap .footer_link .footer_link_list li .ft_global_list {
  display: none;
}

#footer .footer .footer_wrap .footer_link .pt_pri {
  transition: color 0.3s;
}

#footer .footer .footer_wrap .footer_link .pt_pri:hover {
  color: #45b5ff;
}

.mc-control-row {
  display: table;
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
  margin: 10px 0;
  position: relative;
  border: 1px solid #ccc;
  background: #fff;
  color: #000;
  border-radius: 3px;
  padding: 5px;
  min-height: 40px;
}

.mc-controls {
  display: table-cell;
  box-sizing: border-box;
  padding-left: 10px;
  vertical-align: middle;
}

.mc-controls[data-type=text] input[data-name],
.mc-controls[data-type=date] input[data-name],
.mc-controls[data-type=number] input[data-name],
.mc-controls[data-type=url] input[data-name],
.mc-controls[data-type=email] input[data-name],
.mc-controls[data-type=tel] input[data-name] {
  height: 30px;
  border-radius: 4px;
  border: 1px #d6d6d6 solid;
  padding: 0 5px;
}

.mc-controls input[type=text],
.mc-controls input[type=number] {
  height: 30px;
}

.mc-controls input[type=number]::-webkit-inner-spin-button,
.mc-controls input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mc-controls select {
  height: 28px;
  margin-right: 5px;
  cursor: pointer;
  min-width: 80px;
}

.mc-controls select[multiple] {
  height: auto;
}

.mc-controls button {
  height: 30px;
  padding: 0 10px;
}

.mc-control {
  display: table-row;
}

.mc-control-label {
  display: table-cell;
  box-sizing: border-box;
}

.mc-control-label {
  display: table-cell;
  vertical-align: middle;
  width: 100px;
  line-height: 30px;
  color: #7a7a7a;
  background-color: #d6d6d6;
  border-radius: 4px;
  padding-left: 10px;
  margin-right: 10px;
}

.mc-control-multiple span[data-value] {
  display: inline-block;
  white-space: nowrap;
  margin: 0 10px 10px 0;
  cursor: pointer;
  padding: 4px;
  border: 1px #ddd solid;
  border-radius: 4px;
  background-color: #efefef;
}

.mc-control-multiple span[data-value]:hover {
  color: red;
}

.mc-control-multiple em {
  color: red;
}

.mc-control-radio {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.mc-control-radio,
.mc-control-radio input[type=radio],
.mc-control-radio input[type=checkbox] {
  vertical-align: middle;
}

.mc-control-radio input[type=radio],
.mc-control-radio input[type=checkbox] {
  margin-right: 3px;
  margin-top: -2px;
}

.mc-checked-item {
  border: 1px #ddd solid;
  padding: 5px 10px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.mc-checked-item em {
  color: red;
}

.mc-checked-item + .mc-checked-reset {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  color: red;
  padding: 4px;
  background-color: #ddd;
}

.mc-checked-reset {
  display: none;
}

.mc-range-slider {
  width: 50%;
}

.mc-range-slider .noUi-tooltip {
  display: block;
}

.mc-btn-submit {
  padding: 4px;
  background-color: #ddd;
}

.mc-view-multipart-item {
  border: 1px #ddd solid;
  border-radius: 3px;
  padding: 2px 5px;
  margin-right: 4px;
  background-color: #efefef;
}

/* sub01_01 회사소개 */
.sub01_01 {
  width: 90%;
  padding-bottom: 100px;
  margin: auto;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.sub01_01-filter {
  width: 20%;
}
.sub01_01-filter-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.sub01_01-filter-top h3 {
  font-size: 16px;
}
.sub01_01-filter-top .line {
  width: 70%;
  height: 1px;
  background: #171717;
}
.sub01_01-filter-types .accordion {
  outline: none;
  border: none;
}
.sub01_01-filter-types .accordion .accordion-item {
  outline: none;
  border: none;
}
.sub01_01-filter-types .accordion .accordion-item .accordion-header {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}
.sub01_01-filter-types .accordion .accordion-item .accordion-header button {
  padding: 10px 5px;
  margin: 10px 0;
  font-size: 22px;
  background: none;
  color: #000 !important;
  border: none;
  outline: none;
  font-weight: bold;
}
.sub01_01-filter-types .accordion .accordion-item .accordion-header button:focus {
  outline: none;
}
.sub01_01-filter-types .accordion .accordion-item .accordion-header .collapsed {
  color: #999 !important;
}
.sub01_01-filter-types .accordion .accordion-body {
  padding: 0 10px;
  margin: 0;
}
.sub01_01-filter-types .accordion .accordion-body input {
  width: 15px;
  height: 15px;
  border-radius: 0;
}
.sub01_01-products {
  width: 75%;
}
.sub01_01-products-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}
.sub01_01-products-top p {
  font-size: 20px;
  color: #666;
}
.sub01_01-products-top i {
  font-size: 20px;
  color: #666;
}
.sub01_01-products-items {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
  flex-wrap: wrap;
}
.sub01_01-products-items .item .img {
  width: 290px;
  height: 330px;
  overflow: hidden;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #deeeee;
  border-radius: 20px;
}
.sub01_01-products-items .item .img img {
  width: auto;
  height: auto;
}
.sub01_01-products-items .item p {
  font-size: 16px;
  font-weight: bold;
  color: #171717;
  text-align: center;
}

@media (max-width: 1560px) {
  .sub-flex .swiper {
    width: 600px;
    height: 400px;
  }
}
@media (max-width: 1460px) {
  #s_top {
    position: relative;
    padding-top: 240px;
    padding-left: 100px;
  }
}
@media (max-width: 1380px) {
  .sub-flex .swiper {
    width: 600px;
    height: 400px;
  }
  #sub .subtitle_wrap h4 {
    font-size: 22px;
    padding-top: 10px;
  }
  #sub .subtitle_wrap .eng_title {
    font-size: 28px;
  }
  #sub .subtitle_wrap .sub_title h3 {
    font-size: 45px;
  }
  #sub .subtitle_wrap .sub_title .sub_description {
    font-size: 20px;
  }
  /* sub01_01 회사소개 */
  .sub01_01 {
    width: 90%;
    padding-bottom: 80px;
  }
  .sub01_01-products {
    width: 75%;
  }
  .sub01_01-products-items .item .img {
    width: 350px;
    height: 300px;
    padding: 80px;
  }
  .sub01_01-products-items .item .img p {
    font-size: 18px;
  }
}
@media (max-width: 1200px) {
  #header .header_wrap .head_menu,
  #header .header_wrap .head_nav {
    display: none;
  }
  .sub-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
  }
  .sub-flex .swiper {
    width: 100%;
    height: 600px;
  }
  #sub .subtitle_wrap h4 {
    font-size: 22px;
    padding-top: 10px;
    max-width: 80%;
  }
  #sub .subtitle_wrap .eng_title {
    font-size: 28px;
  }
  #sub .subtitle_wrap .sub_title h3 {
    font-size: 45px;
  }
  #sub .subtitle_wrap .sub_title .sub_description {
    font-size: 20px;
  }
  /* sub01_01 회사소개 */
  .sub01_01 {
    width: 90%;
    padding-bottom: 70px;
    margin: auto;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
  }
  .sub01_01-filter {
    width: 300px;
  }
  .sub01_01-filter-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
  }
  .sub01_01-filter-top h3 {
    font-size: 16px;
  }
  .sub01_01-filter-top .line {
    width: 70%;
    height: 1px;
    background: #171717;
  }
  .sub01_01-filter-types .accordion {
    outline: none;
    border: none;
  }
  .sub01_01-filter-types .accordion .accordion-item {
    outline: none;
    border: none;
  }
  .sub01_01-filter-types .accordion .accordion-item .accordion-header {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
  }
  .sub01_01-filter-types .accordion .accordion-item .accordion-header button {
    padding: 10px 5px;
    margin: 10px 0;
    font-size: 22px;
    background: none;
    color: #000 !important;
    border: none;
    outline: none;
    font-weight: bold;
  }
  .sub01_01-filter-types .accordion .accordion-item .accordion-header button:focus {
    outline: none;
  }
  .sub01_01-filter-types .accordion .accordion-item .accordion-header .collapsed {
    color: #999 !important;
  }
  .sub01_01-filter-types .accordion .accordion-body {
    padding: 0 10px;
    margin: 0;
  }
  .sub01_01-filter-types .accordion .accordion-body input {
    width: 15px;
    height: 15px;
    border-radius: 0;
  }
  .sub01_01-products {
    width: 100%;
  }
  .sub01_01-products-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
  }
  .sub01_01-products-top p {
    font-size: 20px;
    color: #666;
  }
  .sub01_01-products-top i {
    font-size: 20px;
    color: #666;
  }
  .sub01_01-products-items {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
    flex-wrap: wrap;
  }
  .sub01_01-products-items .item .img {
    width: 300px;
    height: 250px;
    padding: 80px;
    border-radius: 20px;
  }
}
@media (max-width: 990px) {
  .sub-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
  }
  .sub-flex .swiper {
    width: 100%;
    height: 500px;
    padding: 20px;
  }
  #sub .subtitle_wrap h4 {
    font-size: 22px;
    padding-top: 10px;
    max-width: 100%;
  }
  #sub .subtitle_wrap .eng_title {
    font-size: 28px;
  }
  #sub .subtitle_wrap .sub_title h3 {
    font-size: 40px;
  }
  #sub .subtitle_wrap .sub_title .sub_description {
    font-size: 20px;
  }
  /* sub 서브페이지 */
  #sub {
    padding: 50px 0;
    margin: auto;
    background: #eee;
  }
  .sub-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
  }
  .sub-flex .swiper {
    width: 800px;
    height: 500px;
  }
  .sub-flex .swiper-slide {
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sub-flex .swiper-slide img {
    display: block;
    background: #eee;
    width: 90%;
    margin: auto;
  }
  .sub-flex .swiper-slide img::-moz-selection {
    background: none;
  }
  .sub-flex .swiper-slide img::selection {
    background: none;
  }
  #sub .subtitle_wrap {
    letter-spacing: -1px;
    font-weight: 700;
  }
  #sub .subtitle_wrap h4 {
    font-size: 22px;
    color: #7a7a7a;
    padding-top: 10px;
  }
  #sub .subtitle_wrap .eng_title {
    font-size: 25px;
    color: #144d98;
  }
  #sub .subtitle_wrap .sub_title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  #sub .subtitle_wrap .sub_title h3 {
    font-size: 40px;
  }
  #sub .subtitle_wrap .sub_title .sub_description {
    color: #666;
    font-size: 20px;
    font-weight: 200;
    max-width: 100%;
  }
  /* sub01_01 회사소개 */
  .sub01_01 {
    width: 90%;
    padding-bottom: 50px;
    margin: auto;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
  .sub01_01-filter {
    width: 100%;
  }
  .sub01_01-filter-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
  }
  .sub01_01-filter-top h3 {
    font-size: 16px;
  }
  .sub01_01-filter-top .line {
    width: 70%;
    height: 1px;
    background: #171717;
  }
  .sub01_01-filter-types .accordion {
    outline: none;
    border: none;
  }
  .sub01_01-filter-types .accordion .accordion-item {
    outline: none;
    border: none;
  }
  .sub01_01-filter-types .accordion .accordion-item .accordion-header {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
  }
  .sub01_01-filter-types .accordion .accordion-item .accordion-header button {
    padding: 10px 5px;
    margin: 10px 0;
    font-size: 22px;
    background: none;
    color: #000 !important;
    border: none;
    outline: none;
    font-weight: bold;
  }
  .sub01_01-filter-types .accordion .accordion-item .accordion-header button:focus {
    outline: none;
  }
  .sub01_01-filter-types .accordion .accordion-item .accordion-header .collapsed {
    color: #999 !important;
  }
  .sub01_01-filter-types .accordion .accordion-body {
    padding: 0 10px;
    margin: 0;
  }
  .sub01_01-filter-types .accordion .accordion-body input {
    width: 15px;
    height: 15px;
    border-radius: 0;
  }
  .sub01_01-products {
    width: 100%;
  }
  .sub01_01-products-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
  }
  .sub01_01-products-top p {
    font-size: 20px;
    color: #666;
  }
  .sub01_01-products-top i {
    font-size: 20px;
    color: #666;
  }
  .sub01_01-products-items {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
    flex-wrap: wrap;
  }
  .sub01_01-products-items .item .img {
    width: 300px;
    height: 250px;
    padding: 80px;
    border-radius: 20px;
  }
}
@media (max-width: 700px) {
  #s_top {
    position: relative;
    padding-top: 200px;
  }
  #s_top .s_top_h2_wrap {
    padding-bottom: 50px;
  }
  #s_top .tit {
    font-size: 28px;
  }
  #s_top .tit-p {
    font-size: 60px;
  }
  /* sub 서브페이지 */
  #sub {
    padding: 50px 0;
    margin: auto;
    background: #eee;
  }
  .sub-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
  }
  .sub-flex .swiper {
    width: 100%;
    height: 320px;
    overflow: hidden;
  }
  .sub-flex .swiper-slide {
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sub-flex .swiper-slide img {
    display: block;
    background: #eee;
    width: 90%;
    margin: auto;
  }
  .sub-flex .swiper-slide img::-moz-selection {
    background: none;
  }
  .sub-flex .swiper-slide img::selection {
    background: none;
  }
  #sub .subtitle_wrap {
    letter-spacing: -1px;
    font-weight: 700;
  }
  #sub .subtitle_wrap h4 {
    font-size: 22px;
    color: #7a7a7a;
    padding-top: 10px;
  }
  #sub .subtitle_wrap .eng_title {
    font-size: 25px;
    color: #144d98;
  }
  #sub .subtitle_wrap .sub_title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  #sub .subtitle_wrap .sub_title h3 {
    font-size: 40px;
  }
  #sub .subtitle_wrap .sub_title .sub_description {
    color: #666;
    font-size: 20px;
    font-weight: 200;
    max-width: 100%;
  }
  /* sub01_01 회사소개 */
  .sub01_01 {
    width: 90%;
    padding-bottom: 20px;
    margin: auto;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
  .sub01_01-filter {
    width: 100%;
  }
  .sub01_01-filter-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
  }
  .sub01_01-filter-top h3 {
    font-size: 16px;
  }
  .sub01_01-filter-top .line {
    width: 70%;
    height: 1px;
    background: #171717;
  }
  .sub01_01-filter-types .accordion {
    outline: none;
    border: none;
  }
  .sub01_01-filter-types .accordion .accordion-item {
    outline: none;
    border: none;
  }
  .sub01_01-filter-types .accordion .accordion-item .accordion-header {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
  }
  .sub01_01-filter-types .accordion .accordion-item .accordion-header button {
    padding: 10px 5px;
    margin: 10px 0;
    font-size: 22px;
    background: none;
    color: #000 !important;
    border: none;
    outline: none;
    font-weight: bold;
  }
  .sub01_01-filter-types .accordion .accordion-item .accordion-header button:focus {
    outline: none;
  }
  .sub01_01-filter-types .accordion .accordion-item .accordion-header .collapsed {
    color: #999 !important;
  }
  .sub01_01-filter-types .accordion .accordion-body {
    padding: 0 10px;
    margin: 0;
  }
  .sub01_01-filter-types .accordion .accordion-body input {
    width: 15px;
    height: 15px;
    border-radius: 0;
  }
  .sub01_01-products {
    width: 100%;
  }
  .sub01_01-products-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
  }
  .sub01_01-products-top p {
    font-size: 20px;
    color: #666;
  }
  .sub01_01-products-top i {
    font-size: 20px;
    color: #666;
  }
  .sub01_01-products-items {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    flex-wrap: wrap;
  }
  .sub01_01-products-items .item .img {
    width: 100%;
    max-height: 500px;
    padding: 20px;
    border-radius: 20px;
  }
  .sub01_01-products-items .item .img img {
    height: auto;
    width: 100%;
  }
  #footer .footer .footer_wrap {
    flex-wrap: wrap;
    width: 100%;
    padding: 20px 0;
  }
  #footer .footer .footer_wrap .footer_left {
    flex-wrap: wrap;
    gap: 2%;
    flex-basis: auto;
  }
  #footer .footer .footer_wrap .footer_left .footer_info address ul {
    padding: 0;
    margin: 0;
    padding-top: 10px;
  }
  #footer .footer .footer_wrap .footer_left .footer_info address ul li {
    font-size: 14px;
  }
  #footer .footer .footer_wrap .footer_left .footer_info small {
    font-size: 14px;
    font-weight: 300;
    padding-top: 25px;
    display: inline-block;
    color: #c5c5c5;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .sub-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
  }
  .sub-flex .swiper {
    width: 100%;
    height: 220px;
    overflow: hidden;
  }
  .sub-flex .swiper-slide {
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sub-flex .swiper-slide img {
    display: block;
    background: #eee;
    width: 90%;
    margin: auto;
  }
  .sub-flex .swiper-slide img::-moz-selection {
    background: none;
  }
  .sub-flex .swiper-slide img::selection {
    background: none;
  }
}/*# sourceMappingURL=style.css.map */